html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*::after,
*::before {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

ul,
ol {
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

@font-face {
	font-family: 'DMSans-Regular';
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: 'DMSans-Medium';
	font-weight: 500;
	font-style: normal;
	src: url("../fonts/DMSans-Medium.woff2") format("woff2"), url("../fonts/DMSans-Medium.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: 'DMSans-Bold';
	font-weight: 700;
	font-style: normal;
	src: url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: 'Poppins-Bold';
	font-weight: 700;
	font-style: normal;
	src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: 'Rubik-Regular';
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: 'Rubik-Medium';
	font-weight: 500;
	font-style: normal;
	src: url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: 'MyriadPro-Regular';
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff") format("woff");
	font-display: swap;
}

.top-slider__btn,
.sale__link,
.menu__link,
.top-slider__title,
.top-slider .slick-dots li button {
	font-family: 'Rubik-Medium', sans-serif;
	font-weight: 500;
}

.top-slider__text,
.sale__text {
	font-family: 'Rubik-Regular', sans-serif;
	font-weight: 400;
}

.gallery__title,
.advantages__title,
.filter__btn,
.card__price,
.sale__title {
	font-family: 'DMSans-Bold', sans-serif;
	font-weight: 700;
}

.card__title-link {
	font-family: 'DMSans-Medium', sans-serif;
	font-weight: 500;
}

body {
	font-family: 'DMSans-Regular', sans-serif;
	font-weight: 400;
}

.gallery__title {
	font-size: 36px;
	line-height: 1.2;
	color: #191919;
}

.top-slider__btn,
.sale__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	max-width: 200px;
	font-size: 15px;
	line-height: 1;
	text-decoration: none;
	color: #436372;
	background-color: #edf1f4;
	padding: 25px 19px 21px 27px;
	-webkit-transition: color 0.8s, background-color 0.8s;
	transition: color 0.8s, background-color 0.8s;
}

.top-slider__btn:hover,
.sale__link:hover {
	color: #ffffff;
	background-color: #a3bbc8;
}

.top-slider__btn path,
.sale__link path {
	-webkit-transition: fill 0.8s;
	transition: fill 0.8s;
}

.top-slider__btn:hover .btn-arrow path,
.sale__link:hover .btn-arrow path {
	fill: #ffffff;
}

.top-slider__btn:hover .btn-arrow path,
.sale__link:hover .btn-arrow path {
	fill: #ffffff;
}

/* Slider */
.slick-slider {
	position: relative;
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.slick-track:before,
.slick-track:after {
	content: "";
	display: table;
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

body {
	font-size: 16px;
	line-height: 1.9;
	background-color: #ffffff;
	color: #585858;
}

.full-container {
	max-width: 1800px;
	padding: 0 15px;
	margin: 0 auto;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	/* added line */
	border: 0;
}

.header {
	padding: 47px 0 45px;
}

.header__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.menu {
	margin: 0 auto;
}

.menu__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transform: translate(77px, 0px);
	transform: translate(77px, 0px);
}

.menu__item:not(:last-child) {
	margin-right: 34px;
}

.menu__link {
	font-size: 15px;
	line-height: 1;
	color: #436372;
	-webkit-transition: border-color 0.5s, color 0.5s;
	transition: border-color 0.5s, color 0.5s;
}

.menu__link:hover {
	color: #243f4d;
}

.user-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 52px;
}

.user-nav__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 52px;
	position: relative;
	-webkit-transition: background-color 0.8s;
	transition: background-color 0.8s;
}

.user-nav__item--search {
	width: 52px;
	border-radius: 50%;
	background-color: #edf1f4;
	margin-right: 21px;
}

.user-nav__item--heart {
	width: 90px;
	border-radius: 45px 0 0 45px;
	background-color: #fcd7b6;
	position: relative;
}

.user-nav__item--heart::after {
	content: '';
	width: 1px;
	height: 32px;
	position: absolute;
	right: 0;
	background-color: #ffffff;
}

.user-nav__item--card {
	width: 90px;
	border-radius: 0 45px 45px 0;
	background-color: #fcd7b6;
	position: relative;
}

.user-nav__num {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	text-align: center;
	font-size: 10px;
	line-height: 1.6;
	position: absolute;
	top: 10px;
	right: 25px;
	color: #243f4d;
	background-color: #ffffff;
}

.user-nav__item--button {
	width: 52px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 50%;
	padding: 0;
	border: none;
	cursor: pointer;
	background-color: #edf1f4;
	margin-left: 18px;
}

.user-nav__img path {
	-webkit-transition: fill 0.8s;
	transition: fill 0.8s;
}

.user-nav__item:hover .user-nav__img path {
	fill: #ffffff;
}

.user-nav__item--search:hover,
.user-nav__item--button:hover {
	background-color: #a3bbc8;
}

.top-slider__wrapper {
	background-color: #fcd7b6;
}

.top-slider__container {
	max-width: 1480px;
}

.top-slider__inner {
	padding-top: 99px;
}

.top-slider__box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	padding: 116px 0 206px;
}

.top-slider__box::after {
	content: "";
	width: 622px;
	height: 634px;
	background-image: url("../images/circle.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0;
	right: 25px;
}

.top-slider__title {
	max-width: 411px;
	width: 100%;
	font-size: 72px;
	line-height: 1;
	text-transform: uppercase;
	color: #243f4d;
	margin-bottom: 25px;
}

.top-slider__text {
	max-width: 359px;
	font-size: 18px;
	line-height: 1.6;
	color: #436372;
	margin-bottom: 40px;
}

.top-slider__img {
	max-width: 640px;
	width: 100%;
	height: 264px;
	position: relative;
	z-index: 1;
}

.top-slider .slick-dots {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-bottom: 42px;
}

.top-slider .slick-dots li button {
	width: 30px;
	height: 29px;
	border: none;
	border-radius: 50%;
	background-color: #fde3cc;
	font-size: 11px;
	line-height: 1;
	color: #436372;
	padding: 0;
	-webkit-transition: color 0.5s, background-color 0.5s;
	transition: color 0.5s, background-color 0.5s;
}

.top-slider .slick-dots li.slick-active button {
	color: #243f4d;
	background-color: #ffffff;
}

.top-slider .slick-dots li:not(:last-child) {
	margin-right: 11px;
}

.advantages__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	background-color: #fff7f0;
}

.advantages__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding: 50px 10px 30px;
	-ms-flex-preferred-size: 33.3%;
	flex-basis: 33.3%;
}

.advantages__item:not(:last-child) {
	border-right: 1px solid #e8e4df;
}

.advantages__img {
	width: 50px;
	height: 50px;
	margin-right: 30px;
}

.advantages__content {
	max-width: 215px;
	position: relative;
}

.advantages__content::after {
	content: "";
	width: 20px;
	height: 21px;
	border-radius: 50%;
	position: absolute;
	top: 30px;
	left: -45px;
	background-color: rgba(163, 187, 200, 0.3);
}

.advantages__content--support {
	max-width: 200px;
}

.advantages__title {
	width: 215px;
	font-size: 18px;
	line-height: 1;
	color: #414141;
	margin-bottom: 8px;
}

.advantages__content p {
	color: #585858;
}

.gallery {
	padding: 70px 0 35px;
}

.gallery__top {
	padding-bottom: 35px;
}

.gallery__title {
	text-align: center;
	margin-bottom: 20px;
}

.filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 30px;
}

.filter__unit:not(:last-child) {
	margin-right: 27px;
	margin-bottom: 20px;
}

.filter__btn {
	border: none;
	padding: 0;
	background-color: transparent;
	font-size: 16px;
	line-height: 1.2;
	color: #8b8b8b;
	-webkit-transition: color 0.8s;
	transition: color 0.8s;
}

.filter__btn:hover {
	color: #1a1a1a;
}

.filter__btn.mixitup-control-active {
	color: #1a1a1a;
}

.gallery__content {
	margin: 0;
	padding: 0;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (minmax(270px, 1fr))[auto-fit];
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	grid-column-gap: 30px;
	grid-row-gap: 40px;
}

.card {
	max-width: 270px;
	width: 100%;
	min-height: 380px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	text-align: center;
	background-color: #ffffff;
	padding: 27px 20px 35px;
	margin: 0 auto;
}

.card__view {
	min-height: 170px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	-webkit-transition: -webkit-transform 0.5s;
	transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	transition: transform 0.5s, -webkit-transform 0.5s;
}

.card__image {
	-o-object-fit: cover;
	object-fit: cover;
}

.card__icons-box {
	max-width: 167px;
	width: 100%;
	min-height: 45px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -60px;
	-webkit-transition: bottom 0.5s;
	transition: bottom 0.5s;
}

.card__view:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.card__view:hover .card__icons-box {
	bottom: 25px;
}

.card__icon-link {
	width: 45px;
	height: 45px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 50%;
	border: none;
	padding: 0;
	background-color: #ffffff;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.card__icon {
	width: 22px;
	height: 20px;
	-webkit-transition: fill 0.5s;
	transition: fill 0.5s;
}

.card__icon-link:hover {
	background-color: #a3bbc8;
}

.card__icon-link:hover path {
	fill: #ffffff;
}

.card__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.card__title-link {
	line-height: 2;
	color: #243f4d;
}

.card__price {
	line-height: 2;
	color: #a3bbc8;
}

.sale {
	padding: 140px 0 40px;
}

.sale__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.sale-card {
	max-width: 870px;
	width: 100%;
	min-height: 390px;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 90px 0 85px;
	background-color: rgba(254, 239, 226, 0.4);
}

.sale-card:first-child {
	margin-right: 30px;
}

.sale__img {
	max-width: 233px;
	width: 100%;
	min-height: 405px;
	margin-top: -200px;
	margin-right: 30px;
	-o-object-fit: cover;
	object-fit: cover;
}

.sale__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.sale__title {
	max-width: 250px;
	font-size: 26px;
	line-height: 1.2;
	color: #243f4d;
}

.sale__text {
	max-width: 330px;
	font-size: 16px;
	line-height: 1.9;
	color: #243f4d;
}

.sale__link {
	max-width: 180px;
	width: 100%;
	min-height: 60px;
	background-color: transparent;
	border: 1px solid #436372;
	border-radius: 5px;
}