.news {
	padding-top: 60px;

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 46px;
	}

	&__title {
		padding-right: 20px;
	}

	&__articles {
		display: flex;
		align-items: center;
		@include scaleHover(1.1, 0.5s);
	}

	&__articles-link {
		width: 61px;
		display: block;
		@include DMSans(700);
		font-size: 16px;
		line-height: 1.2;
		color: $navy-500;
	}

	&__articles-arrow {
		width: 15px;
		height: 15px;
		margin-left: 20px;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		max-width: 370px;
		width: 100%;
		min-height: 420px;
		border-radius: 5px;
		background-color: $white;
		overflow: hidden; // это чтоб картинка при увеличении на ховере не вылазила за края
		box-shadow: 0 6px 47px 3px $navy-550;
	}

	&__imglink {
		display: block;
		@include scaleHover(1.1, 0.5s);
	}

	&__img {
		max-width: 370px;
		width: 100%;
		min-height: 250px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&__content {
		width: 100%;
		min-height: 135px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		z-index: 1;
		padding: 0 30px 0;
	}

	&__link {
		max-width: 103px;
		width: 100%;
		min-height: 30px;
		display: block;
		border-radius: 15px;
		background-color: $grey-400;
		@include Poppins(700);
		font-size: 14px;
		line-height: 1.4;
		color: $white;
		text-transform: uppercase;
		text-align: center;
		padding: 5px 5px;
		transform: translate(30px, -15px);
		cursor: default;
	}

	&__preview {
		display: block;
		max-width: 285px;
		align-self: flex-start;
		@include DMSans(500);
		font-size: 18px;
		line-height: 1.2;
		@include line-clamp(3, 1.2);
		color: $navy-500;
		@include linkBehavior;
	}

	&__info {
		max-width: 315px;
		width: 100%;
		min-height: 59px;
		display: flex;
		justify-content: flex-start;
		text-align: center;
		align-items: center;
		padding: 0;
		margin: 0;
		border-top: 1px solid $grey-250;
		@include Rubik(500);
		font-size: 12px;
		line-height: 2.5;
		text-transform: uppercase;
	}

	&__description {
		display: flex;
		justify-content: start;
		align-items: baseline;

		&::before {
			content: "";
			background: url("../images/sprite.svg#user");
			background-repeat: no-repeat;
			width: 12px;
			height: 12px;
			opacity: 0.8;
			margin-right: 7px;
		}

		&--date {
			margin-right: 31px;

			&::before {
				content: "";
				background: url("../images/sprite.svg#calendar");
				background-repeat: no-repeat;
			}
		}
	}

	&__notice {
		display: block;
		@include line-clamp;
		@include linkBehavior;
	}
}
