@mixin lineclamp($height, $lines) {
	display: -webkit-box;
	height: $height;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin scaleHover($scale, $time) {
	transition: transform $time;

	&:hover {
		transform: scale($scale);
	}
}

@mixin backgroundColorHover($color, $time) {
	transition: background-color $time;

	&:hover {
		background-color: $color;
	}
}

@mixin colorScaleHover($scale, $color, $time) {
	transition: transform $time, color $time;

	&:hover {
		transform: scale($scale);
		color: $color;
	}
}
