// #191919
// #1a1a1a
// #1f2044
// #222933
// #234969
// #262626
// #414141
// #585858
// #7b7b7b
// #8b8b8b
// #e0e0e0
// #e1e1e1
// #e5e5e5
// #f8f8f8

// rgba(36,63,77,0.0)
// rgba(67,99,114,0.0)


$title: #243f4d;
$h2-title: #414141;
$text: #585858;
$header-menu: #436372;
$pink: #fde3cc;
$content-pink: #fcd7b6;
$support-pink:#fff7f0;
$header-icon: #edf1f4;
$header-hover: #a3bbc8;


%myriadpro-400{
	font-family: 'MyriadPro-Regular', sans-serif; 
	font-weight: 400;
}

%rubik-500{
	font-family: 'Rubik-Medium', sans-serif;
	font-weight: 500;
}

%rubik-400{
	font-family: 'Rubik-Regular', sans-serif;
	font-weight: 400;
}

%poppins-700{
	font-family: 'Poppins-Bold', sans-serif;
	font-weight: 700;
}

%dmsans-700{
	font-family: 'DMSans-Bold', sans-serif;
	font-weight: 700;
}

%dmsans-500{
	font-family: 'DMSans-Medium', sans-serif;
	font-weight: 500;
}

%dmsans-400{
	font-family: 'DMSans-Regular', sans-serif;
	font-weight: 400;
}

%btn {
	display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 200px;
		@extend %rubik-500;
		font-size: 15px;
		line-height: 1;
		text-decoration: none;
		color: $header-menu;
		background-color: $header-icon;
		padding: 25px 19px 21px 27px;
		transition: color 0.8s, background-color 0.8s;
		@extend %btn-arrow;
}

%btn:hover {
	color: #ffffff;
	background-color: $header-hover;
}

%btn-arrow path{
	transition: fill 0.8s;
}

%btn-arrow:hover .btn-arrow path{
	fill: #ffffff;
}
