$black-800: #1a1a1a;
$black-700: #191919;
$blue_700: #1f2044;
$navy-600: #243f4d;
$navy-400: #436372;
$grey-800: #414141;
$grey-700: #585858;
$grey-600: #7b7b7b;
$grey-500: #8b8b8b;
$grey-450: rgba(163, 187, 200, 0.3);
$grey-400: #a3bbc8;
$grey-300: #e8e4df;
$grey-200: #edf1f4;
$pink-550: rgba(252, 215, 182, 0.2);
$pink-500: #fcd7b6;
$pink-400: #fde3cc;
$pink-350: rgba(254, 239, 226, 0.4);
$pink-200: #fff7f0;
$white: #ffffff;


%myriadpro-400{
	font-family: 'MyriadPro', sans-serif; 
	font-weight: 400;
}

%rubik-500{
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
}

%rubik-400{
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
}

%poppins-700{
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}

%dmsans-700{
	font-family: 'DMSans', sans-serif;
	font-weight: 700;
}

%dmsans-500{
	font-family: 'DMSans', sans-serif;
	font-weight: 500;
}

%dmsans-400{
	font-family: 'DMSans', sans-serif;
	font-weight: 400;
}

%title {
	@extend %dmsans-700;
	font-size: 36px;
	line-height: 1.2;
	color: $black-700;
}

%btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 200px;
	width: 100%;
	@extend %rubik-500;
	font-size: 15px;
	line-height: 1;
	text-decoration: none;
	outline: transparent;
	color: $navy-400;
	background-color: $grey-200;
	padding: 25px 19px 21px 27px;
	transition: color 0.8s, background-color 0.8s;
}

%btn:hover {
	color: $white;
	background-color: $grey-400;
}

%btn-arrow {
	max-width: 22px;
	width: 100%;
	height: 9px;
	fill: $navy-400;
	transition: fill 0.8s;
}

%btn:hover %btn-arrow {
	fill: $white;
}
