// #191919
// #1a1a1a
// #1f2044
// #222933
// #234969
// #262626
// #414141
// #585858
// #7b7b7b
// #8b8b8b
// #e0e0e0
// #e1e1e1
// #e5e5e5
// #f8f8f8

// rgba(36,63,77,0.0)
// rgba(67,99,114,0.0)


$title: #243f4d;
$header-black: #436372;
$header-page: #fcd7b6;
$header-button: #a3bbc8;


%myriadpro-400{
	font-family: 'MyriadPro-Regular'; 
	font-weight: 400;
}

%rubik-500{
	font-family: 'Rubik-Medium';
	font-weight: 500;
}

%rubik-400{
	font-family: 'Rubik-Regular';
	font-weight: 400;
}

%poppins-700{
	font-family: 'Poppins-Bold';
	font-weight: 700;
}

%dmsans-700{
	font-family: 'DMSans-Bold';
	font-weight: 700;
}

%dmsans-500{
	font-family: 'DMSans-Medium';
	font-weight: 500;
}

%dmsans-400{
	font-family: 'DMSans-Regular';
	font-weight: 400;
}
