@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';

.header {
	padding: 47px 0 45px;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.menu {
	margin: 0 auto;
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		transform: translate(75px, 0px);
	}
	&__item:not(:last-child) {
		margin-right: 35px;
	}
	&__link.menu__item--active {
		color: $title;
	}
	&__link {
		@extend %rubik-500;
		font-size: 15px;
		line-height: 1;
		color: $header-menu;
		transition: border-color 0.5s, color 0.5s;
	}
	&__link:hover {
		color: $title;
	}
}

.menu__sublink {
}

.user-nav {
	display: flex;
	align-items: center;
		&__item {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 52px;
			height: 52px;
			position: relative;
		}
		&_img {
			max-width: 100%;
			max-height: 100%;
			transition: fill 0.5s ;
		}
		&__item--search {
			border-radius: 50%;
			background-color: $header-icon;
			margin-right: 21px;
			transition: background-color 0.5s ;
		}
		// &__item--search:hover.user-nav__img:hover path{
		// 	background-color: $header-hover;
		// }
		// &__img:hover path{
		// 	fill: #ffffff;
		// 	background-color: $header-hover;
		// }
		&__item--heart {
			width: 90px;
			border-radius: 45px 0 0 45px;
			background-color: $header-pink;
			position: relative;
			transition: background-color 0.5s ;
		}
		&__item--heart:hover {
			// background-color: #f1a96a;
		}
		&__decor {
			width: 1px;
			height: 32px;
			position: absolute;
			right: 0;
			background-color: #ffffff;
		}
		&__item--cart {
			width: 90px;
			border-radius: 0 45px 45px 0;
			background-color: $header-pink;
			position: relative;
			transition: background-color 0.5s ;
		}
		&__item--cart:hover {
			// background-color: #f1a96a;
		}
		&__num {
			width: 16px;
			height: 16px;
			border-radius: 50%;
			text-align: center;
			font-size: 10px;
			line-height: 1.6;
			position: absolute;
			top: 10px;
			right: 25px;
			color: $title;
			background-color: #ffffff;
		}
		&__item--button {
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			padding: 0 16px;
			border: none;
			cursor: pointer;
			background-color: $header-icon;
			margin-left: 18px;
			transition: background-color 0.5s;
		}
		&__item:hover .user-nav__img path{
			fill: #ffffff;
		}
		&__item--search:hover,
		&__item--button:hover {
			background-color: $header-hover;
		}
}


.user-nav__link {

}

.user-nav__img {
}

.user-nav__num {
}







@import 'media';