.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 47px 15px 45px;
	z-index: 50;

	&:before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		// background-color: $white;
		background-color: tomato;
	}

	&__navigation {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		// position: relative;
		// z-index: 3;
	}
}

.logo {
	@extend %logo;
	position: relative;
	z-index: 3;
}

.menu {
	transform: translate(75px, -3px);
	position: relative;
	z-index: 3;

	&__button {
		display: none;
		position: relative;
		z-index: 3;
	}

	&__list {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__item {
		
		&:not(:last-child) {
			margin-right: 34px;
		}
	}

	&__link {
		@extend %rubik-500;
		font-size: 15px;
		line-height: 1;
		color: $navy-400;
		transition: color 0.5s;
		@include scalehover(1.1, 0.5s);

		&:focus,
		&:hover,
		&--active {
			color: $black-800;
		}
	}
}

.user-nav {
	max-width: 321px;
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 3;
	margin-left: 50px;

		&__item {
			display: flex;
			max-width: 51px;
			width: 100%;
			min-height: 52px;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			transition: background-color 0.5s ;
			background-color: $grey-200;

			&--search {
				margin-right: 21px;

				&:hover {
					background-color: $grey-400;
				}
			}

			&--heart {
				max-width: 90px;
				border-radius: 45px 0 0 45px;
				background-color: $pink-500;
				position: relative;
			}

			&--cart {
				max-width: 90px;
				border-radius: 0 45px 45px 0;
				background-color: $pink-500;
				position: relative;
				margin-right: 18px;
			}

			&--button {

				&:hover {
					background-color: $grey-400;
				}
			} 

			&:hover {
				.user-nav__img {
					fill: $white;
				}
			}
		}

		&__num {
			max-width: 40px;
			min-height: 16px;
			border-radius: 10px;
			text-align: center;
			font-size: 10px;
			padding: 0 6px;
			position: absolute;
			top: 10px;
			left: 50px;
			color: $navy-600;
			background-color: $white;
		}
		
		&__img {
			max-width: 24px;
			width: 100%;
			height: 24px;
			fill: $navy-600;
			transition: fill 0.5s;
		}

		&::after {
			content: '';
			max-width: 1px;
			width: 100%;
			min-height: 32px;
			background-color: $white;
			position: absolute;
			top: 50%;
			right: 158px;
			transform: translate(0, -50%);
		}
}

.text {
	padding: 150px 50px 0;
	// display: none;
}

@media (max-width: $screen-xl) {

	.header {
		padding-bottom: 30px;
	}

	.menu {
		width: 100%;
		align-items: center;
		justify-content: center;
		transform: translate(0, 0);
		order: 1;
		margin-top: 30px;
		
		&__list {
			justify-content: center;
		}
	}
	
	.user-nav {
		margin-left: auto;
	}
}

@media (max-width: $screen-lg) {

	.menu {

		&__list{
		
		}
	}
}

@media (max-width: $screen-md) {
	
	.header {
	padding: 10px 0 10px;
		
	}

	.menu {
		position: fixed;
		width: 100%;
		height: 100%;
		margin: 0;
		top: 0;
		left: 0;
		z-index: 1;
		// z-index: 2;

		&__list {
			max-width: 100%;
			min-height: 100vh;
			flex-direction: column;
			justify-content: start;
			// background-color: $white;
			padding-top: 150px;
			background-color: cornflowerblue;
			transform: translateY(-200%);
			transition: transform 0.3s;

			&.menu__list--active {
				transform: translateY(0%);
				transition: transform 0.3s;
			}
		}

		&__item {
			width: 100%;
			text-align: center;

			&:not(:last-child) {
				margin-right: 0;
				margin-bottom: 20px;
			}
		}

		&__link {
			display: block;
			font-size: 32px;
			line-height: 1.5;
			padding: 0;
			margin: 0;
		}

		&__button {
			width: 30px;
			height: 24px;
			border: none;
			display: block;
			background-color: transparent;
			position: absolute;
			top: 18px;
			right: 35px;
			z-index: 3;
			padding: 0;
			margin: 0;
			
			&:before,
			&:after {
				content: "";
				position: absolute;
				width: 100%;
				height: 3px;
				background-color: $black-800;
			}
			
			&::before {
				top: 0;
			}
			
			&::after {
				bottom: 0;
			}
			
			&--middle {
				width: 100%;
				height: 3px;
				position: absolute;
				top: 10px;
				background-color: $black-800;
			}
		}
	}
	
	.user-nav {
		max-width: 100%;
		justify-content: flex-end;
		margin-top: 10px;
		// position: relative;
		// z-index: -1;
	}
}

@media (max-width: $screen-xm) {

	.user-nav {
		display: none;
	}
}