.top-slider {
	margin-top: 145px;
	&__wrapper {
		background-color: $pink-500;
		padding: 0 5px;
	}

	&__inner {
		padding-top: 99px;
	}

	&__box {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding: 116px 5px 206px;
		position: relative;

		&::after {
			content: url("../images/circle.png");
			max-width: 622px;
			width: 100%;
			min-height: 634px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			position: absolute;
			top: 0;
			right: 10%;
		}
	}

	&__content {
		margin-right: 115px;
	}

	&__title {
		max-width: 411px;
		width: 100%;
		@include Rubik(500);
		font-size: 72px;
		line-height: 1;
		text-transform: uppercase;
		color: $navy-600;
		@include line-clamp(2, 1);
		margin-bottom: 25px;
		@include scaleHover(1.1, 0.5s);
	}

	&__text {
		max-width: 359px;
		@include Rubik(400);
		font-size: 18px;
		line-height: 1.6;
		color: $navy-400;
		margin-bottom: 40px;
		@include line-clamp(2, 1.6);
	}

	&__img {
		max-width: 640px;
		width: 100%;
		height: 264px;
		// min-height: 264px;
		object-fit: cover;
		position: relative;
		z-index: 1;
	}
}

.slick-dots {
	display: flex;
	justify-content: center;
	padding-bottom: 42px;

	li {
		button {
			width: 30px;
			height: 29px;
			border: none;
			border-radius: 50%;
			background-color: $pink-400;
			@include Rubik(500);
			font-size: 11px;
			line-height: 1;
			color: $navy-400;
			padding: 0;
			transition: color 0.5s, background-color 0.5s;

			&:hover {
				background-color: $white;
			}
		}

		&.slick-active {
			button {
				color: $navy-600;
				background-color: $white;
				background-color: $white;
			}
		}

		&:not(:last-child) {
			margin-right: 11px;
		}
	}
}

.advantages {
	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		background-color: $pink-200;
	}

	&__item {
		min-height: 171px;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-basis: 33.3%;
		padding: 34px 10px 0;

		&:not(:last-child) {
			border-right: 1px solid $grey-300;
		}

		&--delivery {
			padding-top: 57px;
		}
	}

	&__content {
		position: relative;

		&::before {
			width: 100%;
			position: absolute;
			opacity: 0.2;
		}

		&::after {
			content: "";
			max-width: 20px;
			width: 100%;
			min-height: 21px;
			border-radius: 50%;
			position: absolute;
			background-color: $grey-450;
		}

		&--support {
			padding-left: 65px;
			padding-top: 15px;

			&::before {
				content: url("../images/sprite.svg#support");
				max-width: 53px;
				min-height: 52px;
				top: 15px;
				left: -12px;
			}

			&::after {
				top: 48px;
				left: 20px;
			}
		}

		&--delivery {
			padding-left: 58px;

			&::before {
				content: url("../images/sprite.svg#delivery");
				max-width: 53px;
				min-height: 52px;
				top: -9px;
				left: -25px;
			}

			&::after {
				top: 17px;
				left: 13px;
			}
		}

		&--payment {
			max-width: 310px;
			padding-left: 90px;
			padding-top: 12px;

			&::before {
				content: url("../images/sprite.svg#payment");
				max-width: 53px;
				min-height: 52px;
				top: 9px;
				left: 0;
			}

			&::after {
				top: 46px;
				left: 38px;
			}
		}
	}

	&__subtitle {
		display: block;
		max-width: 200px;
		@include DMSans(700);
		@include line-clamp();
		font-size: 18px;
		line-height: 1;
		color: $grey-800;
		margin-bottom: 8px;
		@include linkBehavior;
	}

	&__text {
		color: $grey-700;
		@include line-clamp(3);

		&--support {
			max-width: 209px;
		}
	}
}
