.video {
	padding: 60px 0 50px;

	&__content {
		display: block;
		width: 100%;
		min-height: 501px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: relative;
		margin: 0 auto;
	}

	&__play-bg {
		max-width: 98px;
		width: 100%;
		min-height: 98px;
		border-radius: 50%;
		background-color: $grey-400;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: box-shadow 0.5s;

		&:before {
			content: "";
			width: 0px;
			height: 0px;
			border-radius: 3px;
			border-style: solid;
			border-width: 12.5px 0 12.5px 22px;
			border-color: transparent transparent transparent $white;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-25%, -50%);
			z-index: 2;
		}

		&:hover {
			box-shadow: 0 0 0 15px $grey-450;
		}

		&:focus {
			background-color: $navy-400;
		}

		&:active {
			background-color: $navy-400;
			box-shadow: 0 0 0 15px $navy-550;

			&::before {
				border-color: transparent transparent transparent $grey-500;
			}
		}
	}
}
