.partners {
	background-color: $pink-550;

	&__content {
		display: flex;
		padding: 95px 0 65px;
	}

	&__item {
		max-width: 167px;
		min-height: 85px;
		display: flex !important;
		flex-direction: column;
		padding: 10px;
	}

	&__link {
		@include scaleHover(1.1, 0.5s);
	}

	&__img {
		margin: auto;
		object-fit: cover;
		filter: brightness(80%);
		filter: contrast(30%);

		&--peterson {
			filter: opacity(60%);
		}
	}
}
